.frist-section {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}
.half-width{
    width: 50%;  
}
.half-width img{

    width: 100%;
}
.frist-text{
    padding-left: 90px;
}


.frist-heading{
    border-left: 4px solid teal;
    font-size: 40px;
}
.pharagrap{
    text-align: justify;
}

.button{
    text-decoration: none;
    padding: 9px 35px;
    background-image: linear-gradient(65deg,red,blue);
    border-radius: 8px;
    color:white;
}
#second-heading{
    text-align: center;
    font-size: 40px;
}